<h1>SMS Search!</h1>
<p>No shortcode, so hack workaround! Imagine texting your postcode form your mobile to a short code in the format "81181 N1 7RD"</p>

<form method="get" action="/search/postcode">
	<p><label for="number">Your phone number:</label></p>
	<p><input type="text" name="number" value="07595327777" id="number"></p>

	<div id="phone">
		<p><label for="postcode">Postcode:</label></p>
		<p><input type="text" name="postcode" value="N1 7RD" id="postcode"></p>
		<p><button class="" type="submit">Send</button></p> 
	</div>
</form>
