<p>No shortcode, so hack workaround! Imagine texting your postcode form your mobile to a short code in the format "81181 N1 7RD"</p>

<form method="get" action="/search/postcode">
	<div id="phone">
		<p><label for="number">Your phone number:</label></p>
		<p><input type="text" name="number" value="" id="number"></p>
		<p><label for="postcode">Postcode:</label></p>
		<p><input type="text" name="postcode" value="" id="postcode"></p>
		<p><button class="" type="submit">Send</button></p> 
	</div>
</form>
